<div class="form-group row">
    <label class="col-form-label col-sm-3">
        {{ i18n("discord_alert_endpoint.username") }}
    </label>
    <div class="col-sm-5">
        <input
	data-validation-message="{{ i18n('discord_alert_endpoint.validation.invalid_username') }}"
	data-pattern="username" name="discord_username" type="text" class="form-control" />
        <small class="text-muted">{{ i18n('discord_alert_endpoint.message_sender') }}</small>
    </div>
</div>
