[
    /* Date */
    {className: 'text-center', data: 'tstamp', name: 'tstamp', width: '12%'},
    /* Counts */
    {name: 'count', className: 'text-center', data: 'count', width: '5%', visible: false},
    /* Alert Type + Severity */
    {name: 'severity', className: 'text-center text-nowrap', data: 'severity', width: '7%', render: DataTableRenders.alertSeverityAndType},
    /* Description */
    {name: 'description', data: 'msg', orderable: false, className: 'text-nowrap'},
]