[
    /* Date */
    {className: 'text-center', data: 'tstamp', name: 'tstamp'},
    /* Counts */
    {name: 'count', className: 'text-center', data: 'count', visible: false},
    /* Alert Type + Severity */
    {name: 'severity', className: 'text-center text-nowrap', data: 'severity', render: DataTableRenders.alertSeverityAndType},
    /* Description */
    {name: 'description', data: 'msg', orderable: false, className: 'text-nowrap'},
]