<tr>
    <th>{{ i18n("show_alerts.alert_datetime") }}</th>
    <th>{{ i18n("score") }}</th>
    <th>{{ i18n("alerts_dashboard.alert") }}</th>
    <th>{{ i18n("show_alerts.alert_counts") }}</th>
    <th>{{ i18n("description") }}</th>
    <th>{{ i18n("actions") }}</th>
</tr>
