<tr>
    <th>{{ i18n("show_alerts.alert_datetime") }}</th>
    <th>{{ i18n("show_alerts.alert_counts") }}</th>
    <th>{{ i18n("show_alerts.alert_severity") }}</th>
    <th>{{ i18n("show_alerts.alert_type") }}</th>
    <th>{{ i18n("description") }}</th>
    <th>{{ i18n("actions") }}</th>
</tr>