*~
ntopng.sublime-*
src/*.o
src/*.obj
third-party/json-c/config.h.in
third-party/json-c/*
third-party/rrdtool-*/*
third-party/LuaJIT-*/src/*o
third-party/LuaJIT-*/src/host/*o
third-party/LuaJIT-*/src/host/build*
third-party/LuaJIT-*/src/lua*
third-party/LuaJIT-*/src/liblua*
third-party/LuaJIT-*/src/*/*lua
third-party/LuaJIT-*/src/lj_bcdef.h
third-party/LuaJIT-*/src/lj_ffdef.h
third-party/LuaJIT-*/src/lj_folddef.h
third-party/LuaJIT-*/src/lj_libdef.h
third-party/LuaJIT-*/src/lj_recdef.h
third-party/LuaJIT-*/src/lj_vm.s
third-party/zeromq-*/configure
third-party/zeromq-*/src/*o
third-party/zeromq-*/perfs/*o
third-party/zeromq-*/.libs/
third-party/zeromq-*/builds/redhat/zeromq.spec
third-party/zeromq-*/curve_keygen
third-party/zeromq-*/inproc_lat
third-party/zeromq-*/inproc_thr
third-party/zeromq-*/libtool
third-party/zeromq-*/libzmq.la
third-party/zeromq-*/local_lat
third-party/zeromq-*/local_thr
third-party/zeromq-*/perf/.deps/
third-party/zeromq-*/perf/.dirstamp
third-party/zeromq-*/perf/inproc_lat.o
third-party/zeromq-*/perf/inproc_thr.o
third-party/zeromq-*/perf/local_lat.o
third-party/zeromq-*/perf/local_thr.o
third-party/zeromq-*/perf/remote_lat.o
third-party/zeromq-*/perf/remote_thr.o
third-party/zeromq-*/remote_lat
third-party/zeromq-*/remote_thr
third-party/zeromq-*/src/.deps/
third-party/zeromq-*/src/.dirstamp
third-party/zeromq-*/src/.libs/
third-party/zeromq-*/src/libzmq.pc
third-party/zeromq-*/src/platform.hpp
third-party/zeromq-*/src/stamp-h1
third-party/zeromq-*/tests/.deps/
third-party/zeromq-*/tools/.deps/
third-party/zeromq-*/tools/.dirstamp
third-party/zeromq-*/tools/curve_keygen.o
httpdocs/geoip/*
httpdocs/ssl/ntopng-cert.pem
include/config.h.in
autom4te.cache*
*#
config.h
#config.h.in
config.log
config.status
configure
configure.ac
doc/doxygen.conf
nDPI
ntopng
packages/*.spec
Makefile
*.pcap
.DS_Store
pro
scripts/lua/pro
tools/gdbsudo
nbproject
.cproject
.project
Doxyfile
doc/doxydoc/
logo.png
logo.xcf
logobase.jpg
logobase.png
representations.aird
