*~
src/*.o
src/*.obj
third-party/json-c/config.h.in
third-party/json-c/*
third-party/rrdtool-1.4.8/*
third-party/LuaJIT-2.0.3/src/*o
third-party/LuaJIT-2.0.3/src/host/*o
third-party/LuaJIT-2.0.3/src/host/build*
third-party/LuaJIT-2.0.3/src/lua*
third-party/LuaJIT-2.0.3/src/liblua*
third-party/LuaJIT-2.0.3/src/*/*lua
third-party/zeromq-4.1.3/configure
httpdocs/geoip/*
httpdocs/ssl/ntopng-cert.pem
autom4te.cache*
*#
config.h
#config.h.in
config.log
config.status
configure
#configure.ac
doc/doxygen.conf
nDPI
ntopng
packages/*.spec
Makefile
*.pcap
