[submodule "tests/e2e"]
	path = tests/e2e
	url = https://github.com/ntop/ntopng-e2e-tests.git
	branch = 5.4-stable
[submodule "dist"]
	path = httpdocs/dist
	url = https://github.com/ntop/ntopng-dist.git
	branch = 5.4-stable
