language: c++
dist: xenial

compiler:
  - clang
  - gcc

install: 
  - sudo apt-get update || true
  - sudo apt-get install build-essential
  - sudo apt-get install libglib2.0 libxml2-dev libpcap-dev librrd-dev redis-server libsqlite3-dev libhiredis-dev libmaxminddb-dev libcurl4-openssl-dev libzmq3-dev git 

before_script:
  - git clone -b 2.4-stable https://github.com/ntop/nDPI.git; cd nDPI; ./autogen.sh; make; cd ..
  - ./autogen.sh

script:
  - ./configure
  - make

# notifications:
#   email:
#     recipients:
#       - packager@ntop.org
#     on_success: never
#     on_failure: always
