language: c++

compiler:
  - clang
  - gcc

install: 
  - sudo apt-get update || true
  - sudo apt-get install build-essential
  - sudo apt-get install subversion libglib2.0 libxml2-dev libpcap-dev libtool rrdtool librrd-dev autoconf automake autogen redis-server wget libsqlite3-dev libhiredis-dev libgeoip-dev libcurl4-openssl-dev libpango1.0-dev libcairo2-dev libpng12-dev git

before_script:
  - git clone -b 2.0-stable https://github.com/ntop/nDPI.git;  cd nDPI; ./autogen.sh; make; cd ..
  - ./autogen.sh

script:
  - ./configure
  - make
 