<tr>
    <th>{{ i18n("show_alerts.alert_datetime") }}</th>
    <th>{{ i18n("show_alerts.alert_counts") }}</th>
    <th>{{ i18n("show_alerts.alert_severity_and_type") }}</th>
    <th>{{ i18n("score") }}</th>
    <th>{{ i18n("application") }}</th>
    <th>{{ i18n("client") }}</th>
    <th>{{ i18n("nindex.client_name") }}</th>
    <th>{{ i18n("server") }}</th>
    <th>{{ i18n("nindex.server_name") }}</th>
    <th>{{ i18n("description") }}</th>
    <th>{{ i18n("actions") }}</th>
</tr>