#content {
  width: 1200px;
}

#chart {
  border: 1px solid #F0F0F0;
  display: inline-block;
}

#chart path {
  -webkit-transition: opacity 0.2s linear;
}

#preview {
  margin-top: 10px;
}

#legend {
  display: inline-block;
  position: relative;
  left: 8px;
  background-color: #FFFFFF;
  margin-left: 0;
  padding: 0;
}

#legend_container {
  position: absolute;
  right: 0;
  bottom: 26px;
  width: 0;
}

#chart_container {
  position: relative;
  display: inline-block;
}

.rickshaw_graph .detail {
  left: -1000;
}

#side_panel {
  padding: 0 20px 20px 0;
  width: 240px;
  display: inline-block;
  vertical-align: top;
}

#side_panel section {
  color: #505050;
  font-size: 12px;
}

#side_panel section h6 {
  margin: 0 0 1em 0;
  font-size: 12px;
}

#side_panel .ui-slider-horizontal {
  height: 1px !important;
  border-color: #E0E0E0;
  margin-bottom: 10px;
}

#side_panel .ui-slider-handle {
  border-color: #A0A0A0;
  height: 9px !important;
  width: 9px !important;
  top: -5px !important;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}

#legend .label {
  color: #404040;
}

#legend .action {
  color: #000000;
  opacity: 0.5;
}

#legend ul {
  padding: 0;
}

h1 {
  font-size: 20px;
}

section {
  border: none;
  border-top: 1px solid #EAEAEA;
  padding: 15px 0;
}

#renderer_form.toggler {
  display: block;
  margin: 0;
}

#renderer_form.toggler input[type = 'radio']:checked {
  outline: 2px solid #4682B4;
}

#renderer_form.toggler input[type = 'radio'] {
  -moz-appearance: button;
  background: #FFFFFF;
  margin: 0 7px;
  width: 39px;
  height: 26px;
  position: absolute;
}

#renderer_form.toggler label {
  display: inline-block;
  padding: 0;
  width: 39px;
  padding-top: 27px;
  text-align: center;
  font-size: 10px;
  color: #808080;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 7px;
  cursor: pointer;
}
