:host {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.error {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 0.375rem;
  color: rgb(255, 73, 73);
}

.transparent {
  background-color: transparent;
}

.ntop-widget-container {

  /* Tailwind shadow looks cool! */
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

.ntop-widget-container [slot='header'], .ntop-widget-container [slot='footer'] {
  width: 100%;
}

ul.pie-legend {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

ul.pie-legend li {
  font-weight: 400;
  display: flex;
  align-items: center;
  opacity: 0;
  -webkit-animation: slideIn 0.35s 1 ease-in;
  animation: slideIn 0.35s 1 ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

ul.pie-legend li:nth-child(5n+1) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

ul.pie-legend  li:nth-child(5n+2) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

ul.pie-legend li:nth-child(5n+3) {
  -webkit-animation-delay: .75s;
  animation-delay: .75s;
}

ul.pie-legend li:nth-child(5n+4) {
  -webkit-animation-delay: 1.0s;
  animation-delay: 1.0s;
}

ul.pie-legend li:nth-child(5n+5) {
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}


.circle {
  width: 1em;
  height: 1em;
  border-radius: 9999px;
  background-color: white;
  display: inline-block;
  margin-right: 4px;
  border: 2px solid white;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}

.shine {
  height: 100%;
  background-color: #f7f7f7;
  background-image: linear-gradient(to right, transparent 33%, rgba(90, 90, 90, 0.118) 50%, transparent 66%);
  background-size:300% 100%;
  animation: shine 2s infinite;
  border-radius: 0.375rem;
}

@keyframes shine {
  0% {
    background-position: right;    
  }
}

/* Animation steps */

@keyframes slideIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@media only screen and (max-width: 1200px) {
  .ntop-widget-container {
    flex-direction: column-reverse;
  }
}