--
-- (C) 2019 - ntop.org
--

local alert_consts = require("alert_consts")

-- #################################################################

local function my_formatter(status, flowstatus_info)
  if(flowstatus_info ~= nil) then
    -- My custom status info
    return(flowstatus_info)
  end

  -- Fallback
  return "Custom alert 1"
end

-- #################################################################

return {
  status_id = 59,                                         -- (0-63) The unique ID of this flow status
  relevance = 100,                                        -- (0-100) How much this status is bad
  prio = 700,                                             -- The priority of this status. The status with highest priority is used for alert generation.
  severity = alert_consts.alert_severities.error,         -- The severity of the generated alert
  alert_type = alert_consts.alert_types.custom_alert_1,   -- The type of the generated alert
  i18n_title = "Custom alert 1",                          -- A title for this status
  i18n_description = my_formatter,                        -- A message for this status
}
