@import 'datatables.net-dt/css/jquery.dataTables.min.css';
@import 'bootstrap/scss/bootstrap';
@import 'leaflet/dist/leaflet.css';
@import 'apexcharts/dist/apexcharts.css';
@import 'rickshaw/rickshaw.min.css';
@import 'flatpickr/dist/flatpickr.min.css';
@import 'leaflet.markercluster/dist/MarkerCluster.css';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';
@import 'nvd3/build/nv.d3.css';
@import 'select2/dist/css/select2.min.css'
