@import './styles/vendors/jquery/jquery.resizableColumns.css';
@import 'bootstrap/scss/bootstrap';
@import 'leaflet/dist/leaflet.css';
@import 'apexcharts/dist/apexcharts.css';
@import 'flatpickr/dist/flatpickr.min.css';
@import 'leaflet.markercluster/dist/MarkerCluster.css';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';
@import 'nvd3/build/nv.d3.css';
@import 'select2/dist/css/select2.min.css';
@import 'datatables.net-dt/css/jquery.dataTables.min.css';
@import 'datatables.net-buttons-dt/css/buttons.dataTables.min.css';
@import 'datatables.net-responsive-dt/css/responsive.dataTables.min.css';
@import 'dygraphs/dist/dygraph.min.css';
@import 'vis-network/dist/dist/vis-network.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';