@import 'jquery-ui-bundle/jquery-ui.min.css';
@import 'bootstrap/scss/bootstrap';
@import 'leaflet/dist/leaflet.css';
@import 'apexcharts/dist/apexcharts.css';
@import 'flatpickr/dist/flatpickr.min.css';
@import 'leaflet.markercluster/dist/MarkerCluster.css';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';
@import 'nvd3/build/nv.d3.css';
@import 'select2/dist/css/select2.min.css';
@import 'datatables.net-dt/css/jquery.dataTables.min.css';
@import 'datatables.net-bs/css/dataTables.bootstrap.min.css';
@import 'datatables.net-responsive-bs/css/responsive.bootstrap.min.css';
@import 'datatables.net-buttons-bs/css/buttons.bootstrap.min.css';
