<div class="form-group row">
    <label class="col-form-label col-sm-3">
        <b>{{ i18n("syslog_alert_endpoint.syslog_alert_format") }}</b>
    </label>
    <div class="col-sm-5">
        <select name="syslog_alert_format" class="form-control" required>
            <option value="plaintext">{{ i18n("syslog_alert_endpoint.text") }}</option>
            <option value="json">JSON</option>
        </select>
    </div>
</div>
