
@import 'vendors/fontawesome/scss/fontawesome.scss';
@import 'vendors/fontawesome/scss/solid.scss';
@import 'vendors/fontawesome/scss/brands.scss';
@import 'vendors/fontawesome/scss/regular.scss';
@import 'vendors/flatpickr/flatpickr.min.css';
@import 'vendors/d3-sunburst/sequence_sunburst.css';
@import 'vendors/tagify/tagify.css';
@import 'vendors/flagsprites/flags.scss';
@import 'vendors/select2/select2-bootstrap-5-theme.min.css';

/* TODO: Remove bs3 import! */
@import 'vendors/bootstrap3/tempusdominus/css/tempusdominus-bootstrap-4.css';
@import 'vendors/nvd3/nv.d3.min.css';
@import 'vendors/bootstrap-select/bootstrap-select.min.css';
