<div class="notification-container" {{ (container_id == nil and "" or "id=".. container_id .."") }}>
    {% for key, notification in ipairs(notifications) do %}
    {* notification:render() *}
    {% end %}
</div>