<div class="mb-3 row">
    <label class="col-form-label col-sm-3">
	    <b>{{ i18n("notification_endpoint.telegram.telegram_token") }}</b>
    </label>
    <div class="col-sm-5">
	    <input
	data-validation-message="{{ i18n('notification_endpoint.telegram.validation.invalid_token') }}"
	data-pattern="telegram_token" name="telegram_token" type="text" class="form-control" />
    </div>
</div>
<small>{* i18n('notification_endpoint.telegram.webhook_description.token_description') *}</small>
