--
-- (C) 2019 - ntop.org
--

local ts_utils = require "ts_utils_core"

local lib = {}

function lib.addCustomSeries()
   --	 
   -- This is an example of a minute (60 sec) counter
   --
   -- IMPORTANT: add in this file only counters NOT releated to hosts that instead will go in other files
   --
   --
   local schema

   schema = ts_utils.newSchema("iface:local_linux_hosts", {step=60, rrd_fname="num_local_linux_hosts", metrics_type=ts_utils.metrics.gauge})
   schema:addTag("ifid")
   schema:addMetric("num_linux_hosts")
end

return lib

